
<section class="about_us"><span id="about_us"></span> 
    <h2 class="about">QUIÉNES SOMOS</h2>
    <div class="profiles">
        <div class="image-container"><img src="assets/images/ana-amaro.jpg" alt="Ana Amaro"></div>
        <div class="info-container">
            <h2 class="names one">Ana Amaro</h2>
            <p class="description one">Gallega friki, administradora de sistemas, que lo mismo te monto una wikipedia con linux como te organizo un evento de poesía y música. Autodidacta e inconformista por naturaleza, decidí cambiar el rumbo de mi vida y perderme entre la programación web, por la cual siempre he sentido una gran curiosidad.</p>
            <ul class="icons one">
                <li class="items-icons"> 
                    <a href="https://twitter.com/AnaRedfox_" target="_blank"><i class="fab fa-twitter"></i></a>
                </li>
                <li class="items-icons"> 
                    <a href= "https://www.linkedin.com/in/anaamarovazquez" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                </li>
                <li class="items-icons"> 
                    <a href= "https://github.com/AnaAmaro" target="_blank"><i class="fab fa-github-alt"></i></a>
                </li>
                <li class="items-icons"> 
                    <a href= "mailto:amarovazquezana@gmail.com" target="_blank"><i class="fas fa-envelope"></i></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="profiles">
        <div class="image-container"><img src="assets/images/ana-montiaga.jpg" alt="Ana Montiaga"></div>
        <div class="info-container">
            <h2 class="names two">Ana Montiaga</h2>
            <p class="description two">Con una inagotable curiosidad y en continuo aprendizaje. Tras mi paso por el tercer sector, el marketing y la consultoría social, busco reinventarme como
                programadora Front-End y realizarme en el sector digital.
            </p>
            <ul class="icons two">
                <li class="items-icons"> 
                    <a href="https://twitter.com/AMontiaga" target="_blank"><i class="fab fa-twitter"></i></a>
                </li>
                <li class="items-icons"> 
                    <a href= "https://www.linkedin.com/in/anamontiaga/?locale=en_US" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                </li>
                <li class="items-icons"> 
                    <a href= "https://github.com/anamontiaga" target="_blank"><i class="fab fa-github-alt"></i></a>
                </li>
                <li class="items-icons"> 
                    <a href= "mailto:amontiaga@gmail.com" target="_blank"><i class="fas fa-envelope"></i></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="profiles">
        <div class="image-container"><img src="assets/images/laura-sanchez.jpg" alt="Laura Sánchez"></div>
        <div class="info-container">
            <h2 class="names three">Laura Sánchez</h2>
            <p class="description three">Tras una larga trayectoria de prueba y error laboral e intelectual, busco encontrar mi sitio y mi pasión. Un giro de 180º hacia el desarrollo web que creo que será el inicio de una apasionante y gratificante carrera profesional. 
            </p>
            <ul class="icons three">
                <li class="items-icons"> 
                    <a href="https://twitter.com/@lailina25" target="_blank"><i class="fab fa-twitter"></i></a>
                </li>
                <li class="items-icons"> 
                    <a href= "https://www.linkedin.com/in/laura-sanchez-martin" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                </li>
                <li class="items-icons"> 
                    <a href= "https://github.com/laila25" target="_blank"><i class="fab fa-github-alt"></i></a>
                </li>
                <li class="items-icons"> 
                    <a href= "mailto:laila2519@gmail.com" target="_blank"><i class="fas fa-envelope"></i></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="profiles">
        <div class="image-container"><img src="assets/images/eva-lorenzo.jpg" alt="Eva Lorenzo"></div>
        <div class="info-container">
            <h2 class="names four">Eva Lorenzo</h2>
            <p class="description four">Después de intentarlo como maestra de infantil, me encuentro recorriendo un nuevo camino hacia el sector digital, con mucha ilusión, ganas y siempre de front ante los retos. Tras varias rutas fallidas, creo que por fin he dado con el directorio correcto.
            </p>
            <ul class="icons four">
                <li class="items-icons"> 
                    <a href="https://twitter.com/Eva_lm9" target="_blank"><i class="fab fa-twitter"></i></a>
                </li>
                <li class="items-icons"> 
                    <a href= "https://www.linkedin.com/in/eva-lorenzo-mendieta-310a29148/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                </li>
                <li class="items-icons"> 
                    <a href= "https://github.com/eva-lm" target="_blank"><i class="fab fa-github-alt"></i></a>
                </li>
                <li class="items-icons"> 
                    <a href= "mailto:eva.lm1810@gmail.com" target="_blank"><i class="fas fa-envelope"></i></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="profiles">
        <div class="image-container"><img src="assets/images/raquel-montilla.jpg" alt="Raquel Montilla"></div>
        <div class="info-container">
            <h2 class="names five">Raquel Montilla</h2>
            <p class="description five">El arte, la gráfica y la meditación son los tres pilares que me han conformado en la mirada cotidiana, en el espíritu crítico y la curiosidad de seguir aprendiendo de tanto y todo lo que sucede alrededor. En este momento la programación es otro vehículo para seguir, avanzar y explorar nuevas facetas, nuevas realidades, nuevas oportunidades y nuevos retos.
            </p>
            <ul class="icons five">
                <li class="items-icons"> 
                    <a href="https://twitter.com/raquelmontilla2" target="_blank"><i class="fab fa-twitter"></i></a>
                </li>
                <li class="items-icons"> 
                    <a href= "https://www.linkedin.com/in/raquel-montilla-calvo-38704863/?originalSubdomain=es" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                </li>
                <li class="items-icons"> 
                    <a href= "https://github.com/LaMenda-Lerenda" target="_blank"><i class="fab fa-github-alt"></i></a>
                </li>
                <li class="items-icons"> 
                    <a href= "mailto:rmontillacalvo@gmail.com@gmail.com" target="_blank"><i class="fas fa-envelope"></i></a>
                </li>
            </ul>
        </div>
    </div>  
</section>  