<footer class="footer">
    
    <div class="f-team">The Bold Team &copy;2019</div>
    
    <ul class="f-link">
        <li><a class="f-link-item" href="index.html#team">EQUIPO</a></li>
        <li><a class="f-link-item" href="index.html#about_us">QUIENES SOMOS</a></li>
        <li><a class="f-link-item" href="#form-contact">CONTACTO</a></li>
    </ul>
    <div class="footer-img">
        <a href="https://adalab.es/" target="_blank"><img src="https://adalab.es/assets/images/logo-adalab.svg" alt="logo adalab"></a>
    </div>
</footer>