<header class="page__header"></header>
<header class="menu" > 
    <div class="title"> 
        <h1><a href="#hero"> THE BOLD TEAM </a></h1>
    </div>
    <nav class="nav"> 
        <a href="#team">EQUIPO</a> 
        <a href="#about_us">QUIÉNES SOMOS</a>
        <a href="contact.html">CONTACTO</a>
    </nav>
</header>
<section class="hero" id="hero">
    <div class="claim">
        <h2>“ A veces la persona a la que nadie imagina capaz de nada, es la que hace cosas que nadie imagina “ - Joan Clarke.
        </h2>
    </div>
</section>