<section class="team-2"><span id="team"></span>
    <div class="team-2-content">
        <h2 class="t-team">EQUIPO</h2>
        <p class="txt">
            Somos cinco mujeres al borde de un ataque de código, que estamos Loading… contando los días para conseguir nuestro objetivo y reinventar nuestras carreras profesionales.
        </p>
    </div>
    <div class="triangle"></div>
</div>
<div class="t-strengths">
    <div class="t-strengths-content">
        <h3 class="t-strengths-tittle">Fortalezas</h3>
        <p class="txt">
            Intrépidas corredoras de fondo, supervivientes sin miedo a afrontar más cambios. Saltamos a la piscina sin flotador y ajustando el overflow. Nos hemos caído 1000 píxeles y nos hemos levantado 2000.
        </p>
    </div>
    <div class="t-strengths-content">
        <h3 class="t-strengths-tittle">Debilidades</h3>
        <p class="txt">
            Estamos como peces en un mar de código, aprendiendo a programar bajo el agua, y dirigiendo nuestras aletas hacia el futuro tecnológico.
        </p>
    </div>
</div>
</section>