<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Bold Team - Contacto</title>
  <link rel="icon" href="favicon.png"/>
  <link rel="stylesheet" href="assets/css/contact.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap">
  <link href="https://fonts.googleapis.com/css?family=Rubik:500&display=swap" rel="stylesheet">
  <link href="assets/fontawesome-free-5.9.0-web/fontawesome-free-5.9.0-web/css/fontawesome.css" rel="stylesheet">
  <link href="assets/fontawesome-free-5.9.0-web/fontawesome-free-5.9.0-web/css/brands.css" rel="stylesheet">
  <link href="assets/fontawesome-free-5.9.0-web/fontawesome-free-5.9.0-web/css/solid.css" rel="stylesheet">
</head>
<body>
  <div class="page">
    <partial src="_header-contact.html" label="Header"></partial>
    <partial src="_form.html"></partial>
    <partial src="_footer-contact.html"></partial>
  </div>
</body>
</html>