/* about us */

.about_us {
    width: 100%;
    text-align: center;
    position: relative;
}

.about_us span{
    position: absolute;
    top: -120px;
}

.profiles {
    font-family: 'Open Sans', sans-serif;
}

.about {
    font-family: 'Rubik';
    font-size: 24px;
    color: $color-primary;
    font-weight: 300;
}

.image-container {
    margin: 0 auto;
    background: rgb(238, 236, 236);
    width: 180px;
    height: 180px;
    padding: 6px;
    border-radius: 12px;
}


.about_us img {
    border-radius: 8px;
}

.names {
    font-size: 20px;
}

.description {
    font-size: 16px;
    color: $color-text;
    padding: 15px;
}

.items-icons {
    width: 16px;
    height: 18px;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}

.items-icons::after {
    content: "·";
    color: $color-primary;
    padding-left: 9px;
}

.items-icons:last-of-type::after {
    content: " ";
}

.icons {
    display: flex;
    justify-content: space-evenly;
    padding: 0px 100px;
    margin: 16px 0 32px 0;
}

.fab, .fas {
    color: $color-primary;
    transition: transform 1s ease-in-out;
}

.fab:hover, .fas:hover {
    transform: rotate(360deg);
}

/* end about us */

@media all and (min-width:768px) {
    
    /* About Us - 768 - tablet */
    
    .about {
        margin-top: 45px;
    }
    
    .profiles {
        display:flex;
        margin: 40px 44px 0 45px;
    }
    
    .profiles:nth-of-type(2n+1) {
        display:flex;
        flex-direction: row;
    }
    
    .profiles:nth-of-type(2n) {
        display:flex;
        flex-direction: row-reverse;
    }
    
    .image-container, img {
        width: 206px;
        height: 206px;
    }
    
    .names.one, .names.three, .names.five {
        text-align: left;
    }
    
    .names.two, .names.four {
        text-align: right;
    }
    
    .names {
        padding: 20px 20px 0 15px;
        margin: 0;
    }
    
    .description.one, .description.three, .description.five {
        text-align: left;
        margin: 0;
        padding-bottom: 0;
    }
    
    .description.two, .description.four {
        text-align: right;
        margin: 0;
        padding-bottom: 0;
    }
    
    .icons.one, .icons.three, .icons.five {
        display: flex;
        justify-content: flex-start;
        padding: 0;
        margin: 0;
    }
    
    .icons.two, .icons.four {
        display: flex;
        justify-content: flex-end;
        padding: 0;
        margin: 0 20px 0 0;
    }
    
    .items-icons {
        padding: 20px;
    }
    
}

@media all and (min-width:1200px) {
    
    
    /* profiles impar */
    .profiles:nth-last-of-type(odd) {
        margin-left: 138px;
        margin-right: 300px;
    }
    /* profilex par */
    .profiles:nth-last-of-type(even) {
        margin-left: 300px;
        margin-right: 138px;
    }
    
    .profiles:last-of-type {
        margin-bottom: 60px;
    }
    
    .profiles:first-of-type {
        margin-top: 60px;
    }
    
    .image-container, img {
        width: 278px;
        height: 278px;
    }
    
    .names {
        padding-bottom: 0;
    }
    
}
