.team-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    position: relative;
}

.team-2 span{
    position: absolute;
    top: -100px;
}

.t-team {
    font-family: Rubik;
    font-weight: 300;
    font-size: 24px;
    color: $color-primary;
    line-height: 45px;
    text-align: center;
}

.txt {
    font-size: 16px;
    color: $color-text;
    text-align: center;
    padding: 15px;
    margin-top: -35px;
}

.triangle {
    width: 30px;
    height: 30px;
    background-color: $color-secundary;
    transform: rotate(45deg);
    margin-bottom: -16px;
}

.t-strengths {
    background-color: $color-team;
    padding-top: 20px;
    padding-bottom: 35px;
}

.t-strengths-tittle {
    font-size: 22px;
    color: $color-primary;
    line-height: 45px;
    text-align: center;
}

@media all and (min-width:768px) {
    
    .t-team {
        color: $color-primary;
    }
    
    .team-2 {
        margin-top: 0;
    }
    
    .team-2 span{
        position: absolute;
        top: -50px;
    }
    
    .team-2-content {
        padding-right: 45px;
        padding-left: 45px;
    }
    
    .t-strengths {
        display: flex;
        padding-right: 45px;
        padding-left: 45px;
    }
    
    .t-strengths-content {
        display: flex;  
        flex-direction: column;
        width: 50%;
    }
    
}  

@media all and (min-width:1200px) {
    .team-2-content {
        padding-right: 138px;
        padding-left: 138px;
    }
    
    .t-strengths {
        padding-right: 138px;
        padding-left: 138px;
    }
}